<div class="container">
<div class="row">
  <div class="col-md-4">
      <ul>
        <li><a href="/about.html">About</a></li>
        <li><a href="/authors.html">Authors</a></li>
        <li><a href="/pricing.html">Pricing</a></li>
        <li><a href="/privacy.html">Privacy Policy</a></li>
        <li><a href="/terms.html">Terms and Conditions</a></li>
      </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <li><a href="/donate.html">Donate</a></li>
      <li><a href="/philosophy.html">Philosophy</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <li><a href="/writers.html">Write for the Incident</a></li>
      <li><a href="/volunteer.html">Volunteer</a></li>
    </ul>
  </div>
</div>
</div>
