
<div class="row pt-5">
  <div class="col-md-4">

      <ul class="list-group list-group-flush pb-3">
        <li class="list-group-item card-title">Explore the Incident</li>
        <li class="list-group-item list-group-item-action"><a class="text-muted" href="/about.html">About</a></li>
        <li class="list-group-item list-group-item-action"><a class="text-muted" href="/authors-list.html">Authors</a></li>
        <li class="list-group-item list-group-item-action"><a class="text-muted" href="/pricing.html">Pricing</a></li>
        <li class="list-group-item list-group-item-action"><a class="text-muted" href="/privacy.html">Privacy Policy</a></li>
        <li class="list-group-item list-group-item-action"><a class="text-muted" href="/terms.html">Terms and Conditions</a></li>
      </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-group list-group-flush pb-3">
      <li class="list-group-item card-title">Support Our Mission</li>
      <li class="list-group-item list-group-item-action"><a class="text-muted" href="/pricing.html">Subscribe</a></li>
      <li class="list-group-item list-group-item-action"><a class="text-muted" href="/philosophy.html">Philosophy</a></li>
    </ul>
    <ul class="list-group list-group-flush pb-3">
      <li class="list-group-item card-title">Get Involved</li>
      <li class="list-group-item list-group-item-action"><a class="text-muted" href="/writers.html">Write for the Incident</a></li>
      <li class="list-group-item list-group-item-action"><a class="text-muted" href="/volunteer.html">Volunteer</a></li>
    </ul>
  </div>
  <div class="col-md-4">
  <a href="/pricing"><img src="/assets/images/warpig-ad.jpg"></a>
  </div>
</div>
