<div class="container my-6">
<div class="row">
  <div class="col-md-4">
    <h5 class="pb-3">Explore the Incident</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="text-muted" href="/about.html">About</a></li>
        <li class="list-group-item"><a class="text-muted" href="/authors.html">Authors</a></li>
        <li class="list-group-item"><a class="text-muted" href="/pricing.html">Pricing</a></li>
        <li class="list-group-item"><a class="text-muted" href="/privacy.html">Privacy Policy</a></li>
        <li class="list-group-item"><a class="text-muted" href="/terms.html">Terms and Conditions</a></li>
      </ul>
  </div>
  <div class="col-md-4">
    <h5 class="pb-3">Support Our Mission</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="text-muted" href="/donate.html">Donate</a></li>
      <li class="list-group-item"><a class="text-muted" href="/philosophy.html">Philosophy</a></li>
    </ul>
    <h5 class="py-3">Get Involved</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="text-muted" href="/writers.html">Write for the Incident</a></li>
      <li class="list-group-item"><a class="text-muted" href="/volunteer.html">Volunteer</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <blockquote class="blockquote">
One of the saddest lessons of history is this: If we've been bamboozled long enough, we tend to reject any evidence of the bamboozle. We're no longer interested in finding out the truth.
The bamboozle has captured us. It is simply too painful to acknowledge -- even to ourselves -- that we've been so credulous. So the old bamboozles tend to persist as the new bamboozles rise.
<br>
<footer class="blockquote-footer"><span class="font-italic">Carl Sagan</span></footer>
</blockquote>
  </div>
</div>
</div>
