<div class="jumbotron px-3 px-md-4 px-lg-5 px-xl-6 bg-lightblue">
  <div class="cardbody">
    <h2>Subscribe to The Incident. Help support true independent journalism.</h2>
    <h4>only $15/month.</h4>
    <p>All Basic Subscription features Early access to select articles before they are published Access to our exclusive member-only forum for discussions with our team and other subscribers</p>
    <script async
      src="https://js.stripe.com/v3/buy-button.js">
    </script>

    <stripe-buy-button
      buy-button-id="buy_btn_1Mr1kNEQxdPxCfT2f5kOnxvn"
      publishable-key="pk_live_51MqSW4EQxdPxCfT2EavNgMNHSGTcLtHfsHmcK9iexTw7etj3ElFnq0gpJqdpOaIDUJxjiFH97LOwo3DoQmbL4oMR00MUWSBFLl">
    </stripe-buy-button>
  </div>
</div>
