
<div class="card">
  <div class="card-body">
<h3>Basic Subscription - $5/month:</h3>

<p>Access to all articles on The Incident
Exclusive content only available to subscribers
Monthly newsletter with updates on our latest articles</p>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>
<stripe-buy-button
  buy-button-id="buy_btn_1MqTxcEQxdPxCfT2tppw9TXM"
  publishable-key="pk_live_51MqSW4EQxdPxCfT2EavNgMNHSGTcLtHfsHmcK9iexTw7etj3ElFnq0gpJqdpOaIDUJxjiFH97LOwo3DoQmbL4oMR00MUWSBFLl">
</stripe-buy-button>
</div></div>
<div class="card">
  <div class="card-body">
<h3>Premium Subscription - $15/month:</h3>

<p>All Basic Subscription features
Early access to select articles before they are published
Access to our exclusive member-only forum for discussions with our team and other subscribers</p>

<stripe-buy-button
  buy-button-id="buy_btn_1Mr1kNEQxdPxCfT2f5kOnxvn"
  publishable-key="pk_live_51MqSW4EQxdPxCfT2EavNgMNHSGTcLtHfsHmcK9iexTw7etj3ElFnq0gpJqdpOaIDUJxjiFH97LOwo3DoQmbL4oMR00MUWSBFLl">
</stripe-buy-button>
</div></div>
<div class="card">
  <div class="card-body">
<h3>Platinum Subscription - $50/month:</h3>

<p>All Premium Subscription features
Personalized support from our team for writing and research
Opportunities for collaboration with our team on investigative journalism projects</p>

<stripe-buy-button
  buy-button-id="buy_btn_1Mr4jEEQxdPxCfT26vVMwE9M"
  publishable-key="pk_live_51MqSW4EQxdPxCfT2EavNgMNHSGTcLtHfsHmcK9iexTw7etj3ElFnq0gpJqdpOaIDUJxjiFH97LOwo3DoQmbL4oMR00MUWSBFLl">
</stripe-buy-button>
</div></div>
