
<div class="card mb-3 border-primary">
  <div class="card-body">
<h3>Basic Subscription - $5/month:</h3>

<p>Access to all articles on The Incident
Exclusive content only available to subscribers
Monthly newsletter with updates on our latest articles</p>

<button type="button" onClick="window.location.href = 'https://buy.stripe.com/8wM8z216v6Fl5k4bIJ';" class="btn btn-dark">Subscribe</button>
</div></div>
<div class="card mb-3 text-white bg-primary">
  <div class="card-body">
<h3>Premium Subscription - $15/month:</h3>

<p>All Basic Subscription features
Early access to select articles before they are published
Access to our exclusive member-only forum for discussions with our team and other subscribers</p>

<button type="button" onClick="window.location.href = 'https://buy.stripe.com/6oE8z29D14xd9Ak5km';" class="btn btn-primary border-white">Subscribe</button>
</div></div>
<div class="card mb-3 text-white bg-dark">
  <div class="card-body">
<h3>Platinum Subscription - $50/month:</h3>

<p>All Premium Subscription features
Personalized support from our team for writing and research
Opportunities for collaboration with our team on investigative journalism projects</p>

<button type="button" onClick="window.location.href = 'https://buy.stripe.com/8wM16AbL96Fl4g08wz';" class="btn btn-dark border-white">Subscribe</button>
</div></div>
