
<div class="jumbotron">
  <h2>Subcribe to The Incident and get VIP content!</h2>
  <p>Subscribe to The Incident today and join our community of independent thinkers, truth-seekers, and change-makers! By subscribing, you'll gain access to our in-depth coverage of the most pressing issues of our time, from political and corporate corruption to the erosion of free speech and the rise of the military industrial complex. We also explore new technologies and unearth forgotten stories from the past to shed new light on our present and future. With your support, we can continue to bring you thought-provoking and informative journalism that challenges the status quo and inspires positive change. Don't miss out on the latest news and insights from The Incident – subscribe now and be part of the solution!</p>
<stripe-buy-button
  buy-button-id="buy_btn_1MqTxcEQxdPxCfT2tppw9TXM"
  publishable-key="pk_live_51MqSW4EQxdPxCfT2EavNgMNHSGTcLtHfsHmcK9iexTw7etj3ElFnq0gpJqdpOaIDUJxjiFH97LOwo3DoQmbL4oMR00MUWSBFLl"
>
</stripe-buy-button>

</div>
